@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');




@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansBold.ttf);
}



@font-face {
    font-family: ProductSansRegular;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}






@media screen and (max-width: 1099px) and (min-width: 500px) {
    



#contact-form-layout {

    width: 100%  !important;
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #FFFFFF !important;
}









#contact-form-heading {

    color: #61C2D0 !important;
    font-family: ProductSans, sans-serif !important;
    font-size: 50px !important;

}







#contact-form-container {
    width: 90%;
    height: fit-content;
    display: flex !important;
    flex-direction: column !important;
    align-items: center  !important;
    justify-content: center !important;
}








.input 
{
    box-shadow: 3px 3px 5px 1.5px lightgray;
    width: 100% !important;
    height: 60px !important;
    padding-left: 18.5px !important;
    border-radius: 10px !important;
    border: 1.5px solid rgba(13, 22, 37, 0.8);
    margin-top: 18px !important;
    font-family: ProductSansRegular, sans-serif !important;
    margin-bottom: 15px !important;
    box-sizing: border-box !important;


}








#phone-and-name-container-contact-form {

    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}








.input::placeholder {

    color: #0D1625 !important;
    opacity: 0.5 !important;
    font-family: ProductSans, sans-serif !important;
    font-size: 20.5px !important;
}







.input-phone-name {


    box-shadow: 3px 3px 5px 1.5px lightgray;
    width: 100% !important;
    height: 60px !important;
    padding-left: 18.5px !important;
    border-radius: 10px !important;
    border: 1.5px solid rgba(13, 22, 37, 0.8);
    margin-top: 18px !important;
    font-family: ProductSansRegular, sans-serif !important;
    margin-bottom: 15px !important;
}








.input-phone-name::placeholder {

    color: #0D1625 !important;
    opacity: 0.5 !important;
    font-family: ProductSans,sans-serif !important;
    font-size: 20.5px !important;
}








.text-area-message-contact-form {


    box-shadow: 3px 3px 5px 1.5px lightgray;
    width: 100% !important;
    height: 252px !important;
    padding-left: 18.5px !important;
    border-radius: 14px !important;
    border: 1.5px solid rgba(13, 22, 37, 0.95);
    outline: none !important;
    margin-top: 18px !important;
    font-family: ProductSansRegular,sans-serif !important;
    margin-bottom: 37.5px !important;
    padding-top: 15px !important;


}








.text-area-message-contact-form::placeholder {

    color: #0D1625 !important;
    opacity: 0.5 !important;
    font-family: ProductSans,sans-serif !important;
    font-size: 20.5px !important;
}








#send-msg-btn {
    background-color: #61C2D0 !important;
    color: #0D1625 !important;
    font-family: 'Montserrat', sans-serif !important;

}

}