@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');




@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansBold.ttf);
}



@font-face {
    font-family: ProductSansRegular;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}





/* Layout */
.main {
    background-color: #ffff;
    position: relative;
    text-align: center;
}

/* Grid Column */
.col {
    margin-top: 155px;
}


/* images */
.border-img {
    margin-bottom: 50px;
     margin-top: -22px;
      width: 40px;
}

.logo {
    width: 30%;
    position: absolute;
    right: 0;
    z-index: -2px !important;
    top: -30px
}



/* Headings */
.span {
    color: #61C2D0 ;
     font-size: 17px;
}

.h2 {
    margin-top: -3px;
 color: #0D1625;
  font-size: 40px
}

.service-heading {
    text-align: center;
     color:   black ;
     font-size: 25px;
     margin-top: -50px;
}

.service-heading span{
    font-family: 'Montserrat', sans-serif !important;
    font-family: ProductSans, sans-serif !important;

}


.service-heading h2{

}


/* Cards Components*/
.card {
    width: 370px;
    height: 430px; 
    text-align: center;
    margin-left: 3px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border: 2px solid #61C2D0;
    margin-bottom: 50px;
  
}

.card-img {
    /* width: 200px; */
    height: 208px;
    margin-top: 40px;
  
}

.card-h2 {
    padding-top: 10px
}

.card .ant-card-cover{
    width: 70%;

}

/* ***************************** All Media Queries ****************************** */

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:420px) {
    .card-col
{   display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.card {
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
} 
.logo {
    width: 40%;
    position: absolute;
    right: 8px;
    z-index: -2px;
    top: -9px
}
.service-heading {
    text-align: center;
     color:   black ;
     font-size: 25px;
     margin-top: 5px;
}

.service-heading span{

    font-size: 25px !important;
    font-family: 'Montserrat', sans-serif !important;

}

.service-heading h2{

    font-size: 40px !important;
    font-family: ProductSans, sans-serif !important;

}
}

/* hi-res laptops and desktops */
@media (min-width:1024px) {

    .card-col {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}


} 

@media (max-width: 1024px) and (min-width: 600px) {
    .service-heading {
        text-align: center;
         color:   black ;
         font-size: 25px;
         margin-top: 100px;
    }
    .card-col {
        display: flex;
        flex-direction: row;  
        margin-left: -2px;
        padding: 20px;
        
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
        width: 70%;
    }
    .logo {
        margin-top: -12px;
    }
}

@media (max-width: 1025px) and (min-width: 601px){
    .card-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        /* flex-direction: row;
        display: flex; */
    }
    .card {
        /* width: 40%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 510px;
        
        /* height: 550px; */
    }


    .card-img {
        height: 300px;
    }

    .logo {
        width: 30%;
        position: absolute;
        right: 8px;
        z-index: -2px;
        top: -9px
    }

    .service-heading span{

        font-size: 30px !important;
    }
    
    .service-heading h2{
    
        font-size: 55px !important;
    }

}
@media (min-width: 540px) and (max-width: 720px) {
    .card-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        /* flex-direction: row;
        display: flex; */
    }
    .card {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 490px;
        
        /* height: 550px; */
    }


    .card-img {

        height: 300px;
    }

    .logo {
        width: 30%;
        position: absolute;
        right: 8px;
        z-index: -2px;
        top: -9px
    }
    .service-heading {
        text-align: center;
         color:   black ;
         font-size: 25px;
         margin-top: 10px;
    }
    
}

/* hi-res laptops and desktops */
 @media (min-width:1281px) {

    .card-col {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;  
    margin-left: -2px;
    padding: 20px;
    
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}
} 
